<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% assign links = site.pages | where:'lang', page.lang %}
	{% for link in links %}
		{% assign class = "" %}

		{% if link.url == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}

		{% if link.layout != 'home' %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.title }}</a>
		{% endif %}
	{% endfor %}
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn" title="Edit navigation"><strong>&#9998;</strong></a>
	<a href="#" class="cart snipcart-checkout"><i class="material-icons">shopping_cart</i><span>View Cart</span></a>
</nav>
