<li>
	{% assign data = include.main %}
	{% assign product = include.current %}
	<div class="styles">
		{% if product.product_image_path != blank %}
		<img src="{{ site.baseurl }}{{product.product_image_path}}" alt="{{product.title}}" />
		{% elsif data.product_image_path != blank %}
		<img src="{{ site.baseurl }}{{data.product_image_path}}" alt="{{product.title}}" />
		{% endif %}
	</div>
	<div class="product-details">
		<h{{include.lvl}} class="product-title">{{product.title}}</h{{include.lvl}}>
		<p class="button">
			{% assign price = data.price_number | times:100 | split:'.' | first %}
			<button class="snipcart-add-item"
					data-item-name="{{ product.title }}"
					data-item-id="{{ data.id }}"
					data-item-image="{{ site.baseurl }}{{ product.product_image_path }}"
					data-item-description="{{ product.description }}"
					data-item-url="{{ site.baseurl }}{{ page.url }}"
					data-item-price="{{ data.price_number }}">
				{{site.t[page.lang].buyBtn}} {{ data.price_number | floor }}{{site.t[page.lang].decimal_sep}}{{price | slice:-2,2}}$
			</button>
		</p>
		<p>{{product.description}}</p>
	</div>
</li>