---
layout: default
---

<div class="content">
	<div class="page">
{% assign categories = site.categories | where: "lang", page.lang %}
{% for category in categories %}
		<section class="category container {% if page.full_width %}max-container{% endif %}" style="background-color: {{category.color}};">
			<h2><a href="{{ site.baseurl }}{{ category.url }}">{{ category.title }}</a></h2>
			{% assign categoryName = category.path | split:'/' | last | split:'.' | first %}
			{% include products-list.html category=categoryName lvl=3 %}
		</section>
{% endfor %}
	</div>
</div>